<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DE127_1</key>
	<dict>
		<key>Type</key>
		<string>b</string>
		<key>Length</key>
		<string>64</string>
	</dict>
	<key>DE127_2</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>20</string>
	</dict>
	<key>DE127_3</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>20</string>
	</dict>
	<key>DE127_4</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE127_5</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>4</string>
	</dict>
	<key>DE127_6</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE127_7</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>4</string>
	</dict>
	<key>DE127_8</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>15</string>
	</dict>
	<key>DE127_9</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>DE127_10</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>4</string>
	</dict>
	<key>DE127_11</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>DE127_12</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>DE127_13</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>..99</string>
	</dict>
	<key>DE127_14</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>2</string>
	</dict>
	<key>DE127_15</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>100</string>
	</dict>
	<key>DE127_16</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>30</string>
	</dict>
	<key>DE127_17</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>30</string>
	</dict>
	<key>DE127_18</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>128</string>
	</dict>
	<key>DE127_19</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>20</string>
	</dict>
	<key>DE127_20</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>5</string>
	</dict>
	<key>DE127_21</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>6</string>
	</dict>
	<key>DE127_22</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>8</string>
	</dict>
	<key>DE127_23</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>3</string>
	</dict>
</dict>
</plist>
