<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DE01</key>
	<dict>
		<key>Type</key>
		<string>b</string>
		<key>Length</key>
		<string>64|128</string>
	</dict>
	<key>DE02</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>..19</string>
	</dict>
	<key>DE03</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>6</string>
	</dict>
	<key>DE04</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>12</string>
	</dict>
	<key>DE05</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>12</string>
	</dict>
	<key>DE06</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>12</string>
	</dict>
	<key>DE07</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>10</string>
	</dict>
	<key>DE08</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>8</string>
	</dict>
	<key>DE09</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>8</string>
	</dict>
	<key>DE10</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>8</string>
	</dict>
	<key>DE11</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>6</string>
	</dict>
	<key>DE12</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>6</string>
	</dict>
	<key>DE13</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>4</string>
	</dict>
	<key>DE14</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>4</string>
	</dict>
	<key>DE15</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>4</string>
	</dict>
	<key>DE16</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>4</string>
	</dict>
	<key>DE17</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>4</string>
	</dict>
	<key>DE18</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>4</string>
	</dict>
	<key>DE19</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>DE20</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>DE21</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>DE22</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>DE23</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>DE24</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>DE25</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>2</string>
	</dict>
	<key>DE26</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>2</string>
	</dict>
	<key>DE27</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>1</string>
	</dict>
	<key>DE28</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>8</string>
	</dict>
	<key>DE29</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>8</string>
	</dict>
	<key>DE30</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>8</string>
	</dict>
	<key>DE31</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>8</string>
	</dict>
	<key>DE32</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>..11</string>
	</dict>
	<key>DE33</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>..11</string>
	</dict>
	<key>DE34</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>..28</string>
	</dict>
	<key>DE35</key>
	<dict>
		<key>Type</key>
		<string>z</string>
		<key>Length</key>
		<string>..37</string>
	</dict>
	<key>DE36</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>...104</string>
	</dict>
	<key>DE37</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>12</string>
	</dict>
	<key>DE38</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>6</string>
	</dict>
	<key>DE39</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>2</string>
	</dict>
	<key>DE40</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>DE41</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>8</string>
	</dict>
	<key>DE42</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>15</string>
	</dict>
	<key>DE43</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>43</string>
	</dict>
	<key>DE44</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>..25</string>
	</dict>
	<key>DE45</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>..76</string>
	</dict>
	<key>DE46</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE47</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE48</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE49</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>DE50</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>DE51</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>DE52</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>16</string>
	</dict>
	<key>DE53</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>18</string>
	</dict>
	<key>DE54</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>...120</string>
	</dict>
	<key>DE55</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE56</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE57</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE58</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE59</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE60</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE61</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE62</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE63</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE64</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>16</string>
	</dict>
	<key>DE65</key>
	<dict>
		<key>Type</key>
		<string>b</string>
		<key>Length</key>
		<string>64</string>
	</dict>
	<key>DE66</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>1</string>
	</dict>
	<key>DE67</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>2</string>
	</dict>
	<key>DE68</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>DE69</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>DE70</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>DE71</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>4</string>
	</dict>
	<key>DE72</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE73</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>6</string>
	</dict>
	<key>DE74</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>10</string>
	</dict>
	<key>DE75</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>10</string>
	</dict>
	<key>DE76</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>10</string>
	</dict>
	<key>DE77</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>10</string>
	</dict>
	<key>DE78</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>10</string>
	</dict>
	<key>DE79</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>10</string>
	</dict>
	<key>DE80</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>10</string>
	</dict>
	<key>DE81</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>10</string>
	</dict>
	<key>DE82</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>12</string>
	</dict>
	<key>DE83</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>12</string>
	</dict>
	<key>DE84</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>12</string>
	</dict>
	<key>DE85</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>12</string>
	</dict>
	<key>DE86</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>15</string>
	</dict>
	<key>DE87</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>15</string>
	</dict>
	<key>DE88</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>15</string>
	</dict>
	<key>DE89</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>15</string>
	</dict>
	<key>DE90</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>42</string>
	</dict>
	<key>DE91</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>1</string>
	</dict>
	<key>DE92</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>2</string>
	</dict>
	<key>DE93</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>5</string>
	</dict>
	<key>DE94</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>7</string>
	</dict>
	<key>DE95</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>42</string>
	</dict>
	<key>DE96</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>8</string>
	</dict>
	<key>DE97</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>16</string>
	</dict>
	<key>DE98</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>25</string>
	</dict>
	<key>DE99</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>..11</string>
	</dict>
	<key>DE100</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>..11</string>
	</dict>
	<key>DE101</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>17</string>
	</dict>
	<key>DE102</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>..28</string>
	</dict>
	<key>DE103</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>..28</string>
	</dict>
	<key>DE104</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...100</string>
	</dict>
	<key>DE105</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE106</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE107</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE108</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE109</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE110</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE111</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE112</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE113</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>..11</string>
	</dict>
	<key>DE114</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE115</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE116</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE117</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE118</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE119</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE120</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE121</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE122</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE123</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE124</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...255</string>
	</dict>
	<key>DE125</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>..50</string>
	</dict>
	<key>DE126</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE127</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>DE128</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>64</string>
	</dict>
</dict>
</plist>
