<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>a</string>
	<string>n</string>
	<string>s</string>
	<string>an</string>
	<string>as</string>
	<string>ns</string>
	<string>ans</string>
	<string>b</string>
	<string>z</string>
</array>
</plist>
